{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Register Account {% endblock %}

{% block content %}

<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Password reset</h4>
            </div>
            <div class="card-body">
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
                <form method="POST">
                    {% csrf_token %}
                        {{ form|crispy }}
                <input type="submit" value="Reset Password" class="btn btn-secondary btn-block ">
                <input type="submit" value="Reset Password" class="btn btn-primary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}